<template name="Cart">
	<div class="page-container container" id="content">
		<div class="margin50">
		<div class="panel panel-primary">
			<div class="panel-heading"><h4 class="text-center">Cart</h4></div>		
		  <div class="panel-body">
		<div class="table table-striped text-center">
			<table class="table">
				<thead>
					<tr>
						<td></td>
						<td>Product</td>
						<td>Price</td>
						<td>Qty</td>
						<td>Total</td>
						<td></td>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img src="http://www.moviesatthemarion.com/images/popcorn.jpg" class="img-responsive center-block" width="32px;" height="32px"></td>
						<td style="padding-top:15px;">Waffles</td>
						<td style="padding-top:15px;">25</td>
						<td style="padding-top:15px;">1</td>
						<td style="padding-top:15px;">25</td>
						<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>
					</tr>
					<tr>
						<td><img src="http://www.moviesatthemarion.com/images/popcorn.jpg" class="img-responsive center-block" width="32px;" height="32px"></td>
						<td style="padding-top:15px;">Pop Corn</td>
						<td style="padding-top:15px;">47</td>
						<td style="padding-top:15px;">2</td>
						<td style="padding-top:15px;">92</td>
						<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>						
					</tr>
					<tr>
						<td><img src="http://www.moviesatthemarion.com/images/popcorn.jpg" class="img-responsive center-block" width="32px;" height="32px"></td>
						<td style="padding-top:15px;">Big Mc</td>
						<td style="padding-top:15px;">158</td>
						<td style="padding-top:15px;">1</td>
						<td style="padding-top:15px;">158</td>
						<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>
					</tr>
					<tr>
						<td><img src="http://www.moviesatthemarion.com/images/popcorn.jpg" class="img-responsive center-block" width="32px;" height="32px"></td>
						<td style="padding-top:15px;">Juice</td>
						<td style="padding-top:15px;">15</td>
						<td style="padding-top:15px;">2</td>
						<td style="padding-top:15px;">30</td>
						<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>
					</tr>
					<tr>
						<td></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;">Sub Total</td>
						<td style="padding-top:15px;">900</td>
						<td style="padding-top:15px;"></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;">Charger</td>
						<td style="padding-top:15px;">40</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;"></td>
						<td style="padding-top:15px;">Total</td>
						<td style="padding-top:15px;">940</td>
						<td></td>
					</tr>																														
				</tbody>				
			</table>

		</div>		    
		  </div>
		</div>		


		</div>
	</div>
</template>