<template name="Products">
	<div class="page-container container" id="content">
		<div class="row product-list">
			<a href="#">
				<div class="col-md-4 col-xs-4">
					<img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/burger_mcdo.png" class="img-responsive product-img">
				</div>
				<div class="col-md-8 col-xs-8 product-content">
					<h3 class="product-title">Product Title</h3>
					<p class="product-descrp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus incidunt fugit in libero ducimus corrupti reprehenderit qui officia.</p>
				</div>
			</a>
		</div>
		<div class="row product-list">
			<a href="#">
				<div class="col-md-4 col-xs-4">
					<img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/burger_mcdo.png" class="img-responsive product-img">
				</div>
				<div class="col-md-8 col-xs-8 product-content">
					<h3 class="product-title">Product Title</h3>
					<p class="product-descrp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus incidunt fugit in libero ducimus corrupti reprehenderit qui officia.</p>
				</div>
			</a>
		</div>
		<div class="row product-list">
			<a href="#">
				<div class="col-md-4 col-xs-4">
					<img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/burger_mcdo.png" class="img-responsive product-img">
				</div>
				<div class="col-md-8 col-xs-8 product-content">
					<h3 class="product-title">Product Title</h3>
					<p class="product-descrp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus incidunt fugit in libero ducimus corrupti reprehenderit qui officia.</p>
				</div>
			</a>
		</div>
	</div>
</template>
