<template name="Location">
	<div class="page-container container" id="content">
<div class="container">
<div style="margin-top:30px;">
	<form>
	  <div class="form-group">
	    <label >Full name</label>
	    <input type="text" class="form-control" placeholder="Your full name">
	  </div>
	  <div class="form-group">
	    <label >Contact Number</label>
	    <input type="number" class="form-control"  placeholder="Your Contact number">
	  </div>
	  <div class="form-group">
	    <label >Select Location</label>
	    <select class="form-control">
	    	<option>Select Location</option>
	    	<option>Giasano Mall</option>
	    	<option>Abreza</option>
	    	<option>Nccc Mall</option>
	    	<option>Sm Lanang</option>
	    	<option>Sm Ecoland</option>
	    </select>	    
	  </div>
	  <div class="form-group">
	    <label >Select Cinema </label>
	    <select class="form-control">
	    	<option>Select Cinema</option>
	    	<option>Cinema 1</option>
	    	<option>Cinema 2</option>
	    	<option>Cinema 3</option>
	    </select>
	   </div>
	  <div class="form-group">
	    <label >Select Seat Number</label>
	    <select class="form-control">
	    	<option>Select Seat</option>
	    	<option>A-1</option>
	    	<option>A-2</option>
	    	<option>A-3</option>
	    	<option>A-4</option>
	    	<option>A-5</option>
	    	<option>A-6</option>
	    	<option>A-7</option>
	    	<option>A-8</option>
	    	<option>A-9</option>
	    	<option>A-10</option>
	    	<option>A-11</option>
	    	<option>A-12</option>
	    	<option>A-13</option>
	    	<option>A-14</option>
	    	<option>A-15</option>
	    	<option>A-16</option>
	    	<option>A-17</option>
	    	<option>A-18</option>
	    	<option>A-19</option>
	    	<option>A-20</option>
	    </select>
	   </div>	   
		<button type="button" class="btn btn-success btn-lg">Deliver on your Seat</button>
		<button type="button" class="btn btn-success btn-lg">Pick p out side in Cinema</button>
		<br>
	 	<button type="submit" class="btn btn-default btn-lg col-md-12" style=" width: 100%;margin-top: 13px;">Check to finish your Order</button>
	</form>
</div>
</div>
	</div>
</template>