<template name="Categories">
	{{> MenuTab}}
	<div class="page-container container" id="content">
	   <form id="search">
			<div class="form-group">
	          <input type="text" class="form-control input-search" placeholder="Search">
	        </div>
		</form>
		{{#each prodCats}} {{> prodCategories}} {{/each}}
	
	</div>
</template>
<template name="prodCategories">
		<div class="row product-list">
			<a href="{{pathFor 'products'}}">
				<div class="col-md-4 col-xs-4">
					<img src="{{img}}" class="img-responsive product-img" style="padding-top: 20px;">
				</div>
				<div class="col-md-8 col-xs-8 product-content">
					<h3 class="product-title">{{name}}</h3>
					<p class="product-descrp">{{desc}}</p>
				</div>
			</a>
		</div>
</template>