.product-list { border-bottom: 1px solid #e3e3e3; padding: 15px; }
.product-list .product-title { font-size: 18px; color: #000; margin: 0 0 7px; padding-top: 30px;}
.product-list .product-descrp { color: #000; font-size: 12px; }
