<template name="Mcdo">
	<div class="page-container container" id="content">
	<div class="table">
		<table class="table">
			<thead>
				<tr>
					<td>#</td>
					<td>Name</td>
					<td>Price</td>
					<td>Qty</td>
					<td>Price</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/bnt.png" alt="" width="32" height="32"></td>
					<td style="padding-top:15px;">Big 'n testy</td>
					<td style="padding-top:15px;">135.00</td>
					<td style="padding-top:15px;">2</td>
					<td style="padding-top:15px;">270.00</td>
					<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>
				</tr>
				<tr>
					<td><img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/BigMac435X320%20(1).png" alt="" width="32" height="32"></td>
					<td style="padding-top:15px;">Big Mc</td>
					<td style="padding-top:15px;">158.00</td>
					<td style="padding-top:15px;">1</td>
					<td style="padding-top:15px;">158.00</td>
					<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>					
				</tr>
				<tr>
					<td><img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/filet_o_fish.png" alt="" width="32" height="32"></td>
					<td style="padding-top:15px;">Filate-O-Fish</td>
					<td style="padding-top:15px;">151.00</td>
					<td style="padding-top:15px;">3</td>
					<td style="padding-top:15px;">453.00</td>
					<td style="padding-top:15px;"><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>					
				</tr>	
				<tr>
					<td><img src="https://mcdonalds.com.ph/userfiles/images/ourfood/main/filet_o_fish.png" alt="" width="32" height="32"></td>
					<td style="padding-top:15px;">Burger Mcdo</td>
					<td style="padding-top:15px;">71.00</td>
					<td style="padding-top:15px;">3</td>
					<td style="padding-top:15px;">213.00</td>
					<td><a href="" class="btn btn-primary"> <i class="fa fa-plus"></i></a> <a href="" class="btn btn-danger"> <i class="fa fa-minus"></i></a></td>					
				</tr>							
			</tbody>
		</table>
	</div>
	</div>
</template>

