<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
</template>

<template name="PublicLayout">
	<div id="wrap">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
						Tdelivery
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				Home
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'products'}}">
			<a href="{{pathFor 'products'}}">
				products
			</a>
		</li>
	</ul>
</template>

